body{
    font-family: 'Kanit', sans-serif;
  background: linear-gradient( #040607, #161a29);
    background-attachment: fixed;
    background-size: cover; 
}

.navbar{
    background: linear-gradient(#040607, #040607);
    position: fixed;
     margin-top: 0px;
     top: 0;
     left: 0;
     width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    font-size: 20px;
}

.navbar li a {
    display: flex;
    align-items: center;
  }

.navname{
    color: white;
    margin-right: 100px;

}

#navname li a{
    text-decoration: none;
}

#navname li{
    display: flex;
    align-items: center;
    text-align: center;
}

#navname{
    display: flex;
    align-items: center;
    text-align: center;

}

#boxicons{
    color: white;
    font-size: 20px;
    margin-right: 5px;}

    .profile {
        color: white;
        display: FLEX;
        justify-content: center;
        text-align: center;
        font-size: 60px;
        font-family: 'VT323', monospace;
      }
      .biography {
        margin: 20px;
        width: 40%;
        text-align: center;
        margin: auto;
        color: white;



      }

      .logo{
        width: 50px;
      }
      .logos{
        width: 110px;
      }

      #nom{
        margin-right: 10px;
      }

.projects-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 20px;
}

#projects-container{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.project {
    flex: 1;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
    background-color: #242a41;
    padding: 20px;
    border: 1px solid #313957;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.project h2 {
    font-size: 18px;
    margin-top: 0;
}

.project p {
    font-size: 14px;
    margin: 10px 0;
}


#titre{
    text-align: center;
    color: white;
    font-size: 24px;
}

.langage{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}